@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
  /* Primary Color */
  --ac-1: #F37429;
  /* Theme Color */
  --cl-14: #EFEFEF;
  --cl-13: #DFDFDF;
  --cl-12: #C0C0C0;
  --cl-11: #A0A0A0;
  --cl-10: #808080;
  --cl-9: #616161;
  --cl-8: #414141;
  --cl-7: #222222;
  --cl-6: #1C1C1C;
  --cl-5: #181818;
  --cl-4: #131313;
  --cl-3: #0E0E0E;
  --cl-2: #090909;
  --cl-1: #050505;
  /* Highlight Color */
  --yellow:#FFCC00;
  --red:#FF3B30;
  --purple:#AF52DE;
  --pink:#FF2D55;
  --orange:#FF9500;
  --mint:#00C7BE;
  --indigo:#5856D6;
  --green:#34C759;
  --brown:#A2845E;
  --blue:#007AFF;
  --teal:#30B0C7;
}

/* Primary Colors */
.bg {
  /* Theme Colors */
  /* Highlight Colors */
}
.bg-ac-1 {
  background-color: var(--ac-1);
}
.bg-cl-1 {
  background-color: var(--cl-1);
}
.bg-cl-2 {
  background-color: var(--cl-2);
}
.bg-cl-3 {
  background-color: var(--cl-3);
}
.bg-cl-4 {
  background-color: var(--cl-4);
}
.bg-cl-5 {
  background-color: var(--cl-5);
}
.bg-cl-6 {
  background-color: var(--cl-6);
}
.bg-cl-7 {
  background-color: var(--cl-7);
}
.bg-cl-8 {
  background-color: var(--cl-8);
}
.bg-cl-9 {
  background-color: var(--cl-9);
}
.bg-cl-10 {
  background-color: var(--cl-10);
}
.bg-cl-11 {
  background-color: var(--cl-11);
}
.bg-cl-12 {
  background-color: var(--cl-12);
}
.bg-cl-13 {
  background-color: var(--cl-13);
}
.bg-cl-14 {
  background-color: var(--cl-14);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-red {
  background-color: var(--red);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-mint {
  background-color: var(--mint);
}
.bg-indigo {
  background-color: var(--indigo);
}
.bg-green {
  background-color: var(--green);
}
.bg-brown {
  background-color: var(--brown);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-teal {
  background-color: var(--teal);
}

/* Margin for all sides */
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 4px !important;
}
.m-2 {
  margin: 8px !important;
}
.m-3 {
  margin: 12px !important;
}
.m-4 {
  margin: 16px !important;
}
.m-5 {
  margin: 20px !important;
}
.m-6 {
  margin: 24px !important;
}

/* Margin for top only */
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 4px !important;
}
.mt-2 {
  margin-top: 8px !important;
}
.mt-3 {
  margin-top: 12px !important;
}
.mt-4 {
  margin-top: 16px !important;
}
.mt-5 {
  margin-top: 20px !important;
}
.mt-6 {
  margin-top: 24px !important;
}

/* Margin for bottom only */
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 4px !important;
}
.mb-2 {
  margin-bottom: 8px !important;
}
.mb-3 {
  margin-bottom: 12px !important;
}
.mb-4 {
  margin-bottom: 16px !important;
}
.mb-5 {
  margin-bottom: 20px !important;
}
.mb-6 {
  margin-bottom: 24px !important;
}

/* Margin for left only */
.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: 4px !important;
}
.ml-2 {
  margin-left: 8px !important;
}
.ml-3 {
  margin-left: 12px !important;
}
.ml-4 {
  margin-left: 16px !important;
}
.ml-5 {
  margin-left: 20px !important;
}
.ml-6 {
  margin-left: 24px !important;
}

/* Margin for right only */
.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: 4px !important;
}
.mr-2 {
  margin-right: 8px !important;
}
.mr-3 {
  margin-right: 12px !important;
}
.mr-4 {
  margin-right: 16px !important;
}
.mr-5 {
  margin-right: 20px !important;
}
.mr-6 {
  margin-right: 24px !important;
}

/* Margin for top and bottom */
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.my-3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.my-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.my-5 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.my-6 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

/* Margin for left and right */
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mx-1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.mx-2 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.mx-3 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.mx-4 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.mx-5 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.mx-6 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

/*Default*/
html, body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  background: var(--cl-14);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
}

.btn-regular {
  background: var(--ac-1);
  text-align: center;
  padding: 12px 24px;
  color: var(--cl-14);
  border-radius: 60px;
  font-size: 14px;
  cursor: pointer;
  filter: brightness(1);
  transition: 0.2s;
}
.btn-regular:hover {
  filter: brightness(1.1);
}

.fa-light {
  pointer-events: none;
}

a {
  color: inherit;
  font-style: inherit;
}

/* Main-wrapper Start */
.main-wrapper {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
}

/* Main-wrapper End */
/* Homepage Start */
.top-nav {
  position: fixed;
  top: 0px !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 20px 20px;
  width: 100%;
  height: max-content;
  color: var(--cl-1);
  max-width: 1920px;
  margin-inline: auto;
}
.top-nav .nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav .nav-main .nav-items-toggle {
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 40px;
  border: 1px solid var(--cl-12);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav .gojicode-logo {
  font-size: 22px;
}
.top-nav .nav-items-container {
  display: none;
  min-height: 100%;
}
.top-nav .nav-items-container .page-links {
  color: var(--cl-9);
  font-size: 40px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 20px;
  cursor: pointer;
  padding-bottom: 20px;
  transition: 0.2s;
}
.top-nav .nav-items-container .page-links .nav-item:hover {
  font-style: italic;
  color: var(--ac-1);
}
.top-nav .nav-items-container .lang-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  color: var(--cl-10);
}
.top-nav .nav-items-container .lang-container .lang-btn {
  cursor: pointer;
}
.top-nav .nav-items-container .lang-container .lang-btn.active {
  color: var(--ac-1);
}
.top-nav .nav-items-container .lang-container .lang-btn:hover {
  color: var(--ac-1);
}
.top-nav .nav-items-container .btn-regular {
  background: var(--ac-1);
  text-align: center;
  padding: 30px 20px;
  color: var(--cl-14);
  border-radius: 60px;
  cursor: pointer;
  filter: brightness(1);
  transition: 0.2s;
}
.top-nav .nav-items-container .btn-regular:hover {
  filter: brightness(1.1);
}
.top-nav.active {
  height: 100vh;
  overflow: hidden;
  background-color: var(--cl-7);
  color: var(--cl-14);
}
.top-nav.active .nav-items-container {
  display: block;
}
.top-nav.active .nav-items-container .gojicode-logo {
  display: none;
}
.top-nav.dark-bg {
  color: var(--cl-14);
}
.top-nav.dark-bg .nav-items-container .page-links {
  color: var(--cl-12);
}

.sections-scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.sections-scroller * {
  transition: 0.2s;
}
.sections-scroller > div {
  height: 100vh;
}

.cover-section {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.cover-section .section {
  width: 100%;
  text-align: center;
  transform: translateY(-100%);
}
.cover-section .section .header {
  font-weight: 300;
  font-size: 48px;
}
.cover-section .section .header span {
  font-weight: 500;
}
.cover-section .section .description {
  font-size: 22px;
  margin-top: 10px;
}
.cover-section img {
  width: 130%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}
.cover-section .scroll-indicator {
  position: absolute;
  width: 1px;
  height: 60px;
  background: var(--ac-1);
  position: absolute;
  left: 50%;
  bottom: 0;
}

.team-section {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-inline: 20px;
  padding-bottom: 20px;
  height: max-content;
  margin-top: 200px;
}
.team-section * {
  transition: 0.2s;
}
.team-section .team-left {
  margin-bottom: 20px;
  width: 100%;
}
.team-section .team-left .header {
  color: var(--cl-1);
  font-weight: 300;
  font-size: 46px;
  margin-bottom: 10px;
}
.team-section .team-left .header span {
  display: block;
  font-weight: 500;
}
.team-section .team-left .description {
  font-size: 18px;
  color: var(--cl-10);
  margin-bottom: 5px;
}
.team-section .team-center {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  order: 3;
}
.team-section .team-center img {
  height: auto;
  width: 100%;
}
.team-section .team-right {
  margin-bottom: 10px;
  width: 100%;
}
.team-section .team-right .sub-header {
  color: var(--cl-8);
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 10px;
}
.team-section .team-right .description {
  font-size: 18px;
  color: var(--cl-10);
  margin-bottom: 5px;
}

.map-section {
  padding: 20px;
  margin-top: 200px;
  height: max-content;
}
.map-section .map-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.map-section .map-container .header {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 36px;
  text-align: center;
  width: 90% !important;
  transform: translate(-50%, -50%);
}
.map-section .map-container .map {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  height: 400px;
  margin-bottom: 40px;
}
.map-section .map-container .map img {
  height: 100%;
  width: 150%;
}
.map-section .info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.map-section .info-wrapper .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.map-section .info-wrapper .info > div {
  font-size: 34px;
  color: var(--cl-7);
}
.map-section .info-wrapper .info > div span {
  display: block;
  font-size: 14px;
}
.map-section .info-wrapper .btn-regular {
  width: 100%;
  background-color: var(--ac-1);
  color: var(--cl-14);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  text-align: left;
}

.match-test-section {
  padding: 20px;
  background-color: var(--cl-7);
  color: var(--cl-14);
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.match-test-section .form-steps-container {
  flex-grow: 1;
  display: flex;
  padding-top: 150px;
  overflow: hidden;
}
.match-test-section .form-steps-container .form-step {
  transition: 0.2s;
  transform: translateX(0%);
  min-width: 100%;
}
.match-test-section .form-steps-container .form-step .section {
  text-align: center;
  margin-bottom: 60px;
}
.match-test-section .form-steps-container .form-step .section .header {
  font-size: 28px;
  font-weight: 400;
  color: var(--cl-14);
}
.match-test-section .form-steps-container .form-step .section .desc {
  font-size: 16px;
  color: var(--cl-10);
}
.match-test-section .form-steps-container .form-step .title-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.match-test-section .form-steps-container .form-step .title-wrapper .header {
  font-size: 24px;
  font-weight: 400;
}
.match-test-section .form-steps-container .form-step .form-inputs-container {
  display: grid;
  max-width: 100%;
  margin-inline: auto;
  grid-template-columns: 1fr;
  gap: 20px;
}
.match-test-section .form-steps-container .form-step .form-inputs-container .form-input {
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cl-14);
  border-radius: 10px;
  background-color: var(--cl-6);
  cursor: pointer;
  transition: 0.2s;
}
.match-test-section .form-steps-container .form-step .form-inputs-container .form-input .icon {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: var(--cl-14);
  color: var(--ac-1);
}
.match-test-section .form-steps-container .form-step .form-inputs-container .form-input:hover {
  background-color: var(--cl-5);
}
.match-test-section .form-steps-container .form-step .form-inputs-container .form-input.active {
  color: var(--cl-14);
  background: var(--ac-1);
}
.match-test-section .form-steps-container .form-step .form-inputs-container .form-input.active .icon {
  display: flex;
}
.match-test-section .form-steps-container .form-step .form-inputs-container .form-value {
  height: max-content;
  width: 100%;
  background-color: var(--cl-6);
  border-radius: 6px;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.match-test-section .form-steps-container .form-step .form-inputs-container .form-value .info-wrapper .label {
  font-size: 14px;
  margin-bottom: 4px;
  color: var(--cl-9);
}
.match-test-section .form-steps-container .form-step .form-inputs-container .form-value .info-wrapper .value {
  font-size: 14px;
  color: var(--cl-14);
}
.match-test-section .form-steps-container .form-step .form-inputs-container .form-value .value-status {
  width: 36px;
  height: 36px;
  border-radius: 40px;
  display: none;
  background-color: transparent;
  border: 1px solid var(--cl-8);
}
.match-test-section .form-steps-container .form-step .form-inputs-container .form-value.active .value-status {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ac-1);
}
.match-test-section .pagination-container {
  width: 100%;
  height: 40px;
  overflow: hidden;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.match-test-section .pagination-container .pagination-left, .match-test-section .pagination-container .pagination-right {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid var(--cl-8);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--cl-7);
}
.match-test-section .pagination-container .pagination-left:hover, .match-test-section .pagination-container .pagination-right:hover {
  background-color: var(--cl-8);
}
.match-test-section .pagination-container .pagination-left {
  left: 0;
}
.match-test-section .pagination-container .pagination-right {
  right: 0;
}
.match-test-section .pagination-container .pagination-step {
  flex: 1;
  min-width: 100%;
  text-align: center;
  transition: 0.2s;
  transform: translateX(0%);
  pointer-events: none;
}

.footer {
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--cl-7);
  height: max-content;
}
.footer .title {
  margin: 200px 0;
  font-size: 50px;
  font-weight: 300;
  color: var(--cl-14);
  position: relative;
  cursor: pointer;
}
.footer .title .icon-btn {
  top: -20px;
  right: 0;
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 100px;
  background-color: var(--cl-7);
  border: 1px solid var(--ac-1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.2s;
  font-size: 22px;
  color: var(--ac-1);
}
.footer .title:hover .icon-btn {
  opacity: 1;
  pointer-events: none;
}
.footer .separator {
  height: 2px;
  width: 100%;
  background-color: var(--cl-8);
  margin: 20px 0;
}
.footer .links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .links-container > div:nth-child(4) {
  display: none;
}
.footer .links-container .pages-links {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 20px;
}
.footer .links-container .pages-links .header {
  color: var(--cl-14);
}
.footer .links-container .pages-links .link {
  color: var(--cl-9);
}
.footer .links-container .pages-links .link a {
  color: var(--cl-9);
}
.footer .links-container .pages-links .link a:hover {
  color: var(--cl-14);
}
.footer .links-container .pages-links .link a:active {
  color: var(--cl-9);
}
.footer .policy-tab {
  display: flex;
  justify-content: space-between;
  color: var(--cl-12);
}
.footer .policy-tab a {
  color: var(--cl-9);
}
.footer .policy-tab a:hover {
  color: var(--cl-14);
}
.footer .policy-tab a:active {
  color: var(--cl-9);
}

/* Homepage End */
/* Technologian Start */
.technologien-wrapper .cover {
  padding: 40px;
  height: 300px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 34px;
  text-align: center;
  transition: 0.2s;
}
.technologien-wrapper .cover span {
  font-weight: 500;
}
.technologien-wrapper .project-wrapper {
  margin-bottom: 100px;
}
.technologien-wrapper .project-wrapper .filter-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  padding-left: 20px;
}
.technologien-wrapper .project-wrapper .filter-wrapper .swiper-wrapper, .technologien-wrapper .project-wrapper .filter-wrapper .filter-category, .technologien-wrapper .project-wrapper .filter-wrapper .category-children-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  cursor: grab;
  margin: 0;
}
.technologien-wrapper .project-wrapper .filter-wrapper .swiper-wrapper div:nth-child(3), .technologien-wrapper .project-wrapper .filter-wrapper .filter-category div:nth-child(3), .technologien-wrapper .project-wrapper .filter-wrapper .category-children-wrapper div:nth-child(3) {
  margin-right: 10px !important;
}
.technologien-wrapper .project-wrapper .filter-wrapper .category-parent, .technologien-wrapper .project-wrapper .filter-wrapper .category-children {
  background-color: var(--cl-13);
  color: var(--cl-8);
  border-radius: 40px;
  padding: 10px 18px;
  font-family: "Space Grotesk";
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid transparent;
  margin-right: 10px;
}
.technologien-wrapper .project-wrapper .filter-wrapper .category-parent:hover, .technologien-wrapper .project-wrapper .filter-wrapper .category-children:hover {
  border: 1px solid var(--cl-10);
}
.technologien-wrapper .project-wrapper .filter-wrapper .category-children.active {
  background-color: var(--cl-6);
  color: var(--cl-14);
}
.technologien-wrapper .project-wrapper .filter-wrapper .category-children-wrapper {
  display: none;
}
.technologien-wrapper .project-wrapper .filter-wrapper .filter-category.active .category-parent {
  background-color: var(--ac-1);
  color: var(--cl-14);
}
.technologien-wrapper .project-wrapper .filter-wrapper .filter-category.active .category-children-wrapper {
  display: flex;
}
.technologien-wrapper .project-wrapper .tech-info-wrapper {
  display: none;
  gap: 20px;
  padding: 40px 20px;
  background-color: var(--cl-7);
  color: var(--cl-12);
  margin-top: 40px;
  font-size: 14px;
  text-align: justify;
}
.technologien-wrapper .project-wrapper .tech-info-wrapper.active {
  display: grid;
}
.technologien-wrapper .project-wrapper .project-grid {
  padding-inline: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}
.technologien-wrapper .project-wrapper .project-grid .project-card {
  display: block;
  background-position: center bottom;
  background-size: cover !important;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 8px;
  aspect-ratio: 1/0.6;
  background: var(--cl-13);
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
.technologien-wrapper .project-wrapper .project-grid .project-card:hover {
  filter: brightness(1.05);
}
.technologien-wrapper .project-wrapper .project-grid .project-card .title {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--cl-14);
  font-weight: 500;
}
.technologien-wrapper .project-wrapper .project-grid .project-card .btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 18px;
  border-radius: 40px;
  border: 1px solid var(--cl-11);
  color: var(--cl-11);
  transform: rotate(-45deg);
  position: absolute;
  right: 20px;
  top: 20px;
  transition: 0.2s;
}

/* Technologian End */
/* Services Start */
.packages-wrapper {
  background-color: var(--cl-7);
  overflow-x: hidden;
  padding: 100px 20px;
}
.packages-wrapper > .title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 0px;
  transition: 0.2s;
}
.packages-wrapper > .title-wrapper .section .title {
  color: var(--cl-14);
  font-size: 28px;
  font-weight: 400;
}
.packages-wrapper > .title-wrapper .section .desc {
  margin-top: 10px;
  font-size: 16px;
  color: var(--cl-10);
}
.packages-wrapper > .title-wrapper .services-filter-wrapper {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-family: "Space Grotesk";
  color: var(--cl-10);
}
.packages-wrapper > .title-wrapper .services-filter-wrapper .services-category {
  cursor: pointer;
  transition: 0.2s;
  filter: brightness(1);
}
.packages-wrapper > .title-wrapper .services-filter-wrapper .services-category:hover {
  filter: brightness(1.2);
}
.packages-wrapper > .title-wrapper .services-filter-wrapper .services-category.active {
  color: var(--ac-1);
  font-style: italic;
}
.packages-wrapper .swiper-container {
  width: 100%;
  padding: 20px 0;
}
.packages-wrapper .swiper-container .swiper-wrapper {
  display: flex;
}
.packages-wrapper .swiper-container .swiper-wrapper .swiper-slide {
  flex-shrink: 0;
  width: auto;
  box-sizing: border-box;
}
.packages-wrapper .swiper-container .swiper-wrapper .swiper-slide:last-child .service-card {
  margin-right: 0;
}
.packages-wrapper .swiper-container .swiper-wrapper .service-card {
  background: var(--cl-6);
  border-radius: 8px;
  padding: 30px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 460px;
  width: 220px;
  cursor: pointer;
}
.packages-wrapper .swiper-container .swiper-wrapper .service-card:hover {
  background: var(--cl-7);
  background: linear-gradient(0deg, var(--cl-7) 0%, var(--ac-1) 100%);
}
.packages-wrapper .swiper-container .swiper-wrapper .service-card:hover * {
  color: var(--cl-14) !important;
}
.packages-wrapper .swiper-container .swiper-wrapper .service-card .title-wrapper .title {
  font-size: 24px;
  font-weight: 300;
  color: var(--cl-14);
  margin-bottom: 10px;
}
.packages-wrapper .swiper-container .swiper-wrapper .service-card .title-wrapper .price {
  font-size: 16px;
  font-weight: 400;
  color: var(--cl-10);
}
.packages-wrapper .swiper-container .swiper-wrapper .service-card .desc {
  font-size: 14px;
  color: var(--cl-10);
}
.packages-wrapper .package-table-wrapper {
  margin-top: 40px;
}
.packages-wrapper .package-table-wrapper > .title {
  font-size: 32px;
  color: var(--cl-14);
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 150px;
}
.packages-wrapper .package-table-wrapper > .title span {
  font-weight: 500;
}
.packages-wrapper .package-table-wrapper .table-wrapper {
  border-bottom: 1px solid var(--cl-8);
}
.packages-wrapper .package-table-wrapper .table-wrapper .package-card {
  padding: 20px 0;
  border-top: 1px solid var(--cl-8);
  color: var(--cl-10);
}
.packages-wrapper .package-table-wrapper .table-wrapper .package-card .package-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.packages-wrapper .package-table-wrapper .table-wrapper .package-card .package-info-wrapper .package-name {
  font-size: 36px;
  color: var(--cl-14);
}
.packages-wrapper .package-table-wrapper .table-wrapper .package-card .package-info-wrapper .price-wrapper .label {
  font-size: 14px;
  margin-bottom: 4px;
}
.packages-wrapper .package-table-wrapper .table-wrapper .package-card .package-info-wrapper .price-wrapper .price {
  font-size: 24px;
  color: var(--cl-14);
}
.packages-wrapper .package-table-wrapper .table-wrapper .package-card .package-desc {
  font-size: 14px;
}
.packages-wrapper .package-table-wrapper .table-wrapper .package-card .feature-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.packages-wrapper .package-table-wrapper .table-wrapper .package-card .feature-wrapper ul {
  flex: 1;
  padding-inline: 20px;
  margin: 0;
  margin-top: 20px;
}

/* Services End */
/* Portfolio Start */
.portfolio-section {
  margin-top: 100px;
}
.portfolio-section .cover-section-wrapper {
  display: grid;
  grid-template: "section-1 section-2" "section-3 section-3";
  gap: 20px;
  font-size: 14px;
  padding: 20px;
}
.portfolio-section .cover-section-wrapper > div b {
  color: var(--cl-1);
}
.portfolio-section .cover-section-wrapper .section-1 {
  grid-area: section-1;
  text-align: left;
}
.portfolio-section .cover-section-wrapper .section-2 {
  text-align: right;
  grid-area: section-2;
}
.portfolio-section .cover-section-wrapper .section-2 div {
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
}
.portfolio-section .cover-section-wrapper .section-2 div:hover {
  font-style: italic !important;
}
.portfolio-section .cover-section-wrapper .section-2 div:hover b {
  font-style: italic !important;
}
.portfolio-section .cover-section-wrapper .section-3 {
  grid-area: section-3;
  width: 100%;
  aspect-ratio: 1/0.75;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  transition: 0.2s;
}
.portfolio-section .projects-slider {
  height: max-content;
  margin-top: 20px;
}
.portfolio-section .projects-slider .project-card {
  max-width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--cl-13);
  cursor: pointer;
  filter: brightness(1);
  transition: 0.2s;
  padding: 20px !important;
  box-sizing: border-box;
  border: 1px solid var(--cl-13);
}
.portfolio-section .projects-slider .project-card:hover {
  filter: brightness(1.2);
}
.portfolio-section .projects-slider .project-card.active {
  border: 1px solid var(--ac-1);
  filter: brightness(1.1);
}
.portfolio-section .projects-slider .project-card img {
  width: 200px;
}
.portfolio-section .project-grid-section {
  background-color: var(--cl-7);
  padding: 20px;
  transition: 0.2s;
  margin-top: 40px;
}
.portfolio-section .project-grid-section > .title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 0px;
  transition: 0.2s;
}
.portfolio-section .project-grid-section > .title-wrapper .section .title {
  color: var(--cl-14);
  font-size: 28px;
  font-weight: 400;
}
.portfolio-section .project-grid-section > .title-wrapper .section .desc {
  margin-top: 10px;
  font-size: 16px;
  color: var(--cl-10);
}
.portfolio-section .project-grid-section > .title-wrapper .services-filter-wrapper {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-family: "Space Grotesk";
  color: var(--cl-10);
}
.portfolio-section .project-grid-section > .title-wrapper .services-filter-wrapper .services-category {
  cursor: pointer;
  transition: 0.2s;
  filter: brightness(1);
}
.portfolio-section .project-grid-section > .title-wrapper .services-filter-wrapper .services-category:hover {
  filter: brightness(1.2);
}
.portfolio-section .project-grid-section > .title-wrapper .services-filter-wrapper .services-category.active {
  color: var(--ac-1);
  font-style: italic;
}
.portfolio-section .project-grid-section .project-grid {
  margin-bottom: 40px;
  margin-top: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}
.portfolio-section .project-grid-section .project-grid .project-card {
  display: block;
  background-position: center bottom;
  background-size: cover !important;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 8px;
  aspect-ratio: 1/0.6;
  background: var(--cl-13);
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
.portfolio-section .project-grid-section .project-grid .project-card:hover {
  filter: brightness(1.05);
}
.portfolio-section .project-grid-section .project-grid .project-card .title {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--cl-14);
  font-weight: 500;
}
.portfolio-section .project-grid-section .project-grid .project-card .btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 18px;
  border-radius: 40px;
  border: 1px solid var(--cl-11);
  color: var(--cl-11);
  transform: rotate(-45deg);
  position: absolute;
  right: 20px;
  top: 20px;
  transition: 0.2s;
}

/* Portfolio End */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cover-section img {
    width: 90%;
  }
  .team-section .team-left, .team-section .team-right {
    width: 75%;
  }
  .portfolio-section .cover-section-wrapper .section-3 {
    aspect-ratio: 1/0.5;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cover-section {
    margin-top: 0px;
  }
  .cover-section img {
    width: 75%;
  }
  .team-section {
    display: grid;
    justify-content: flex-end;
    gap: 0;
    margin-top: 0px;
    height: 100vh;
    grid-template: ". . " 1fr "team-left team-center" 300px "team-right team-center" 200px;
  }
  .team-section .team-left {
    grid-area: team-left;
  }
  .team-section .team-left .description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .team-section .team-center {
    grid-area: team-center;
  }
  .team-section .team-right {
    grid-area: team-right;
  }
  .team-section .team-right .sub-header {
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--cl-1);
  }
  .team-section .team-right .description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .match-test-section .form-steps-container .form-step .section {
    margin-bottom: 80px;
  }
  .match-test-section .form-steps-container .form-step .section .header {
    font-size: 28px;
    color: var(--cl-14);
  }
  .match-test-section .form-steps-container .form-step .section .desc {
    font-size: 18px;
    color: var(--cl-10);
  }
  .match-test-section .form-steps-container .form-step .form-inputs-container {
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .match-test-section .form-steps-container .form-step .form-inputs-container .form-input {
    height: 300px;
  }
  .footer .title {
    font-size: 64px;
  }
  .technologien-wrapper .cover {
    font-size: 48px;
    margin-bottom: 100px;
  }
  .technologien-wrapper .cover span {
    font-weight: 500;
  }
  .technologien-wrapper .project-wrapper .title {
    font-size: 18px !important;
    font-weight: 400 !important;
  }
  .technologien-wrapper .project-wrapper .btn-circle {
    height: 36px !important;
    width: 36px !important;
  }
  .technologien-wrapper .project-wrapper .tech-info-wrapper.active {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 40px !important;
  }
  .packages-wrapper > .title-wrapper {
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .portfolio-section .cover-section-wrapper {
    display: flex;
    align-items: center;
  }
  .portfolio-section .cover-section-wrapper > div {
    flex: 1;
    font-size: 30px;
    color: var(--cl-10);
    font-weight: 300;
  }
  .portfolio-section .cover-section-wrapper .section-2 {
    order: 3;
  }
  .portfolio-section .cover-section-wrapper .section-2 div {
    font-size: 22px;
  }
  .portfolio-section .cover-section-wrapper .section-3 {
    order: 2;
    flex: 2;
  }
  .portfolio-section .project-grid-section > .title-wrapper {
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .top-nav .nav-main {
    display: none;
  }
  .top-nav .nav-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top-nav .nav-items-container .page-links {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    flex-direction: row;
    font-size: 14px;
    gap: 20px;
  }
  .top-nav .nav-items-container .cta-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .top-nav .nav-items-container .cta-container .lang-container {
    position: relative;
    bottom: unset;
    left: unset;
    gap: 10px;
    transform: translateX(0);
  }
  .top-nav .nav-items-container .cta-container .btn-regular {
    padding: 14px 14px;
  }
  .top-nav.active {
    overflow: visible;
  }
  .sections-scroller {
    scroll-snap-type: y mandatory;
  }
  .sections-scroller > div {
    scroll-snap-align: start;
  }
  .cover-section {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-inline: 60px;
  }
  .cover-section .section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transform: translateY(-20px);
  }
  .cover-section .section .header {
    font-weight: 300;
    font-size: 54px;
    text-align: left;
    width: 400px;
  }
  .cover-section .section .header span {
    font-weight: 500;
  }
  .cover-section .section .description {
    text-align: right;
    font-size: 30px;
    margin-top: 0;
    width: 300px;
  }
  .cover-section img {
    width: 60%;
  }
  .cover-section .scroll-indicator {
    height: 80px;
  }
  .team-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    gap: 40px;
    padding: 60px;
  }
  .team-section * {
    flex-grow: 1fr;
  }
  .team-section .team-left {
    align-self: flex-end;
    order: 1;
    margin: 0;
  }
  .team-section .team-left .header {
    font-size: 50px;
    margin-bottom: 200px;
  }
  .team-section .team-center {
    order: 2;
  }
  .team-section .team-center img {
    width: 500px;
    height: auto;
  }
  .team-section .team-right {
    order: 3;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .map-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px 60px;
    padding-top: 100px;
  }
  .map-section .map-container {
    flex-grow: 1;
  }
  .map-section .map-container .header {
    font-size: 70px;
    color: var(--cl-7);
  }
  .map-section .map-container .map {
    width: 100%;
    height: 100%;
  }
  .map-section .info-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .map-section .info-wrapper .info {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .map-section .info-wrapper .info > div {
    font-size: 36px;
  }
  .map-section .info-wrapper .info > div span {
    font-size: 16px;
  }
  .map-section .info-wrapper .btn-regular {
    width: max-content;
    height: max-content;
    gap: 100px;
  }
  .match-test-section .title-wrapper {
    margin-inline: auto;
    max-width: 80%;
  }
  .match-test-section .form-inputs-container {
    max-width: 80% !important;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .match-test-section .form-inputs-container .form-input {
    height: 400px;
  }
  .match-test-section .pagination-container {
    gap: 20px;
  }
  .match-test-section .pagination-container .pagination-left, .match-test-section .pagination-container .pagination-right {
    display: none;
  }
  .match-test-section .pagination-container .pagination-step {
    min-width: max-content;
    flex: 1;
    text-align: left;
    padding-bottom: 10px;
    color: var(--cl-9);
    font-size: 16px;
    font-style: normal;
    border-bottom: 3px solid var(--cl-8);
    transform: translateX(0%) !important;
    pointer-events: all;
  }
  .match-test-section .pagination-container .pagination-step.active {
    font-style: italic;
    color: var(--cl-12);
    border-color: var(--cl-14);
  }
  .match-test-section .pagination-container .pagination-step.set {
    color: var(--ac-1) !important;
    border-color: var(--ac-1) !important;
  }
  .match-test-section .pagination-container .pagination-step:hover {
    filter: brightness(1.2);
  }
  .footer {
    min-height: 100vh;
    padding: 20px 60px;
    box-sizing: border-box;
  }
  .footer .title {
    font-size: 76px;
    margin-bottom: 100px;
  }
  .footer .title .icon-btn {
    top: 30px;
    right: unset;
    left: 800px;
    font-size: 50px;
    height: 120px;
    width: 120px;
    border-radius: 120px;
  }
  .footer .links-container {
    padding: 40px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
  }
  .footer .links-container > div:nth-child(4) {
    display: block;
  }
  .technologien-wrapper .cover {
    font-size: 58px;
  }
  .technologien-wrapper .cover span {
    font-weight: 500;
  }
  .packages-wrapper {
    padding-inline: 60px;
  }
  .packages-wrapper > .title-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
  }
  .packages-wrapper > .title-wrapper .section {
    max-width: 400px;
  }
  .packages-wrapper > .title-wrapper .section .title {
    color: var(--cl-14);
    font-size: 34px;
    font-weight: 400;
  }
  .packages-wrapper .package-table-wrapper > .title {
    margin-bottom: 100px;
  }
  .packages-wrapper .package-table-wrapper .table-wrapper .package-card {
    display: grid;
    grid-template-columns: 5fr 3fr 4fr;
    align-items: flex-start;
    gap: 40px;
  }
  .packages-wrapper .package-table-wrapper .table-wrapper .package-card .package-info-wrapper {
    display: grid !important;
    align-items: flex-start;
    gap: 40px;
    grid-template-columns: 6fr 6fr;
  }
  .packages-wrapper .package-table-wrapper .table-wrapper .package-card .feature-wrapper ul {
    margin-top: 0 !important;
  }
  .portfolio-section .project-grid-section {
    padding-top: 100px !important;
    padding-inline: 60px;
    margin-top: 100px;
  }
  .portfolio-section .project-grid-section > .title-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
  }
  .portfolio-section .project-grid-section > .title-wrapper .section {
    max-width: 400px;
  }
  .portfolio-section .project-grid-section > .title-wrapper .section .title {
    color: var(--cl-14);
    font-size: 34px;
    font-weight: 400;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .top-nav {
    position: fixed;
    top: 0px;
  }
  .top-nav .nav-items-container .page-links {
    gap: 60px;
    font-size: 16px;
  }
  .cover-section {
    margin-top: 0px;
  }
  .cover-section .section .header {
    font-size: 70px;
    width: 550px;
  }
  .cover-section .section .description {
    font-size: 34px;
  }
  .cover-section img {
    width: 55%;
  }
  .team-section .team-left .header {
    font-size: 60px;
    margin-bottom: 200px;
  }
  .team-section .team-left .description {
    font-size: 18px;
  }
  .team-section .team-right .sub-header {
    font-size: 24px;
  }
  .team-section .team-right .description {
    font-size: 18px;
  }
}
/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .map-section .map-container .header {
    font-size: 80px;
  }
  .map-section .info-wrapper .info > div {
    font-size: 44px;
  }
  .map-section .info-wrapper .info > div span {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
